@{
    Layout = "_Layout";
}

@model Claire.Model.Stylist

<h3>You are now deleting a stylist entry!</h3>

@using(Html.BeginForm())
{
    <input type="submit" value="Delete" />
}

<p>@Html.ActionLink("All Stylists, "Index")</p>
<p>@Html.ActionLink("Main", "Index", "Home")</p>